{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Кількість</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}