{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Інформація про контант</th>
            <th>Кабінет</th>
            <th>Список предметів</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.bio }}</td>
                <td>{{ student.cabinet }}</td>
                <td>
                    {% for subject in student.subjects.all %}
                        {{ subject }},
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}